{{ dataVencimentoDe | json}}

<div class="">
  <div>
    <h2>Lançamentos</h2>
  </div>
  <form (ngSubmit)="consultaResumida()">
    <div class="form-group">
      <label>Descrição</label>
      <input type="text" class="form-control" name="descricao" [(ngModel)]="descricao">
    </div>

    <div class="form-group">
      <label class="block">Vencimento</label>
      <input class="form-control col-2 inline" [(ngModel)]="dataVencimentoDe" name="dataVencimentoDe">
      <label>até</label>
      <input class="form-control col-2 inline" [(ngModel)]="dataVencimentoAte" name="dataVencimentoAte">
    </div>

    <div>
      <button class="btn btn-secondary">Buscar</button>
    </div>
  </form>
  <br>

</div>

<div class="">
  <div>
    <table class="table table-striped">
      <thead>
      <th>Pessoa</th>
      <th>Descrição</th>
      <th>Vencimento</th>
      <th>Pagamento</th>
      <th>Valor</th>
      <th>Ação</th>
      </thead>
      <tbody>
      <tr *ngFor="let lancamento of lancamentos">
        <td>{{ lancamento.pessoa }}</td>
        <td>{{ lancamento.descricao }}</td>
        <td>{{ lancamento.dataVencimento }}</td>
        <td>{{ lancamento.dataPagamento }}</td>
        <td>{{ lancamento.valor }}</td>
        <td>
          <a [routerLink]="['editar', lancamento.codigo]" class="btn btn-secondary btn-sm"><i class="fa fa-pencil"></i></a>
          <a (click)="showModal(lancamento.codigo, confirDialog)" class="btn btn-secondary btn-sm"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
      
    </table>
    <div>
      <pagination pageBtnClass="btn-secondary btn" [directionLinks]="false" [totalItems]="totalElementos" [itemsPerPage]="itemPorPagina" [(ngModel)]="pagina"
              (pageChanged)="mudaPagina($event)" ></pagination>
    </div>
  </div>

  <br>

  <div>
    <button class="btn btn-secondary">Novo Lançamento</button>
  </div>
</div>

<!-- MODAL DE CONFIRMAÇAO DE EXCLUSAO-->
<ng-template #confirDialog>
  <div class="modal-body text-center">
    <p>Voce confirma a exclusão?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sm</button>
    <button type="button" class="btn btn-default" (click)="decline()" >Não</button>
  </div>
</ng-template>