{{ pessoa | json }}
<form #pessoaFrom="ngForm" (ngSubmit)=salvarPessoa(pessoaFrom)>
  <div>
    <div class="row">
      <div class="form-group col-md-12 text-center">
        <h3>Cadastro Pessoa</h3>
      </div>
      
      
      <div class="form-group col-md-12">
        <label>Nome</label>
        <input type="text" class="form-control" [(ngModel)]="pessoa.nome" name="nome">
      </div>

      <div class="form-group col-md-9">
        <label>Logradouro</label>
        <input type="text" class="form-control" [(ngModel)]="pessoa.logradouro" name="logradouro">
      </div>

      <div class="form-group col-md-3">
        <label>Numero</label>
        <input type="text" class="form-control" [(ngModel)]="pessoa.numero"del name="numero">
      </div>

      <div class="form-group col-md-4">
        <label>Complemento</label>
        <input type="text" class="form-control" [(ngModel)]="pessoa.complemento" name="complemento">
      </div>

      <div class="form-group col-md-4">
        <label>Bairro</label>
        <input type="text" class="form-control" [(ngModel)]="pessoa.bairro" name="bairro">
      </div>

      <div class="form-group col-md-4">
        <label>CEP</label>
        <input type="text" class="form-control" [(ngModel)]="pessoa.cep" name="cep">
      </div>

      <div class="form-group col-md-6">
        <label>Cidade</label>
        <input type="text" class="form-control" [(ngModel)]="pessoa.cidade" name="cidade">
      </div>

      <div class="form-group col-md-6">
        <label>Estado</label>
        <select type="text" class="form-control" [(ngModel)]="pessoa.estado" name="estado">
            <option>Selecione um estado ....</option>
            <option *ngFor="let estado of estados" [value]="estado"> {{ estado }}</option>
        </select>
      </div>

      <div class="col-md-12">
        <button class="btn btn-secondary">Salvar</button>
        <button class="btn btn-secondary">Limpar</button>
        <a routerLink="/pessoa">Voltar para a pesquisa.</a>
      </div>

    </div>
  </div>
</form>