<div class="">
  <div>
    <table class="table table-striped">
      <thead>
      <th>Pessoa</th>
      <th>Descrição</th>
      <th>Vencimento</th>
      <th>Pagamento</th>
      <th>Valor</th>
      <th>Ação</th>
      </thead>
      <tbody>
      <tr *ngFor="let lancamento of lancamentos">
        <td>{{ lancamento.pessoa }}</td>
        <td>{{ lancamento.descricao }}</td>
        <td>{{ lancamento.dataVencimento }}</td>
        <td>{{ lancamento.dataPagamento }}</td>
        <td>{{ lancamento.valor }}</td>
        <td>
          <a [routerLink]="['editar', lancamento.codigo]" class="btn btn-secondary btn-sm"><i class="fa fa-pencil"></i></a>
          <a (click)="remove(lancamento.codigo)" class="btn btn-secondary btn-sm"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
      
    </table>
  </div>

  <br>

  <div>
    <button class="btn btn-secondary">Novo Lançamento</button>
  </div>
</div>
