<div class="">
  <div>
    <table class="table table-striped">
      <thead>
      <th>Dado1</th>
      <th>Dado1</th>
      <th>Dado1</th>
      <th>Ação</th>
      </thead>
      <tbody>
      <tr>
        <td>dado</td>
        <td>dado</td>
        <td>dado</td>
        <td>dado</td>
      </tr>
      <tr>
        <td>dado</td>
        <td>dado</td>
        <td>dado</td>
        <td>dado</td>
      </tr>
      <tr>
        <td>dado</td>
        <td>dado</td>
        <td>dado</td>
        <td>dado</td>
      </tr>
      </tbody>
    </table>
  </div>

  <br>

  <div>
    <button class="btn btn-secondary">Novo Lançamento</button>
  </div>
</div>
